.markdown-navigator {
    @apply mb-4 text-sm w-full;

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h1, h2, h3 {
        @apply mb-4;
    }

    .mn-container {
        @apply grid grid-cols-3 lg:grid-cols-8 gap-8;
        .mn-container--inner {
            @apply lg:col-span-2;
        }
    }

    .markdown-content {
        @apply col-span-2 lg:col-span-5 w-full;
        .content {
            @apply mt-4;
        }
    }

    .shiki {
        @apply overflow-auto py-2 px-4 my-4 mx-0;
    }

    p {
        @apply mb-4;
        code {
            @apply font-bold leading-tight py-[2px] px-2;
            background-color: #1E1E1E; /** Shiki colours */
            color:#CE9178; /** Shiki colours */
        }
        a {
            @apply relative text-primary-700 dark:text-primary-400 text-base;
            &[href^="http://"]::after {
                @apply right-[-1rem] absolute;
                content: '\2197';
            }
            &[href^="#"]::after {
                @apply right-[-1rem] absolute;
                content: '\2398';
            }
            &:hover,
            &:focus {
                &::before {
                    @apply absolute border-b-2 border-primary-500 dark:border-primary-400 bottom-0 left-0 right-0 z-[-1];
                    content: ' ';
                }
            }
        }
    }

    ul, ol {
        @apply my-4;
        li {
            @apply mb-1;
        }
    }

    ol {
        @apply list-decimal ml-4;
    }

    table {
        @apply my-4 mx-0 w-full;
        thead {
            @apply text-lg text-left;
        }
        thead th,
        tbody td {
            @apply py-2 px-4;
        }

        thead th {
            @apply bg-gray-400 dark:bg-gray-800;
        }

        tbody {
            /** simple table striping */
            tr:nth-child(2n) td {
                @apply bg-gray-200 dark:bg-gray-900;
            }
        }
    }

    /** File nav component*/
    .file-nav {
        @apply p-4 overflow-y-auto fixed bg-gray-200 dark:bg-gray-900 lg:relative;
        .file {
            @apply py-1;
            &.selected-file {
                @apply relative;
                &::before {
                    content: ' ';
                    @apply bg-primary-400 absolute left-[-0.5rem] top-0 bottom-0 w-[4px];
                }
            }
            &.selected-file {
                span {
                    @apply inline-block block text-left cursor-pointer py-1 px-1 ml-1 w-full font-bold;
                }
            }
            .file-link {
                @apply block text-left cursor-pointer py-1 px-2 w-full rounded;
                &:hover,
                &:focus {
                    @apply bg-gray-300 dark:bg-gray-800 text-primary-900 dark:text-primary-400;
                }
            }
        }
        .directory {
            @apply italic font-bold relative py-4 mb-4;
            &:after {
                @apply border-b-2 border-gray-600 dark:border-gray-200 h-2 m-auto absolute left-0 bottom-0 right-0;
                content: ' ';
            }
        }
    }

}
